@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.verify-supp-color{
  background-color: rgb(13, 145, 5);
}
.verify-supp-text-color{
  color: rgb(12, 177, 3);
}
.pet-stock-border-color{
  border-color: rgb(12, 177, 3);
}
.btn{
  text-transform: capitalize;
}

.btn-none-hover{

}

.p-btn-addToCartSale{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.p-btn-addToCart{
  padding-left: 1.9rem;
  padding-right: 1.9rem;
}


table td {

  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}